@media (max-width: 1024px){
    .small-icons{
        display: none;
    }
    .burger-menu{
        display: none;
    }

    .slider{
        max-width: 1000px;
        height: 280px;
        margin: 50px 50px;
    }
    .slider-btns{
        display: none;
    }

    .slider-content{
        left: 100px;
    }
    .animal-photo{
        margin-left: 450px;
    }
    .rabbit{
        margin-left: 290px;
    }
    .slider-lines{
        left: 290px;
    }

    .two-next-blocks{
        flex-direction: column;
    }
    .green-bird{
        z-index: 20;
    }
    .blue-fish{
        margin-bottom: 20px;
    }
    .yellow-cat{
        margin-left: -400px;
    }
    #white-fouth{
        display: none;
    }
    .arrow-white-right{
        margin-left: 900px;
    }
    
    .three-box-section{
       flex-wrap: wrap;
    }
    #third{
        display: none;
    }
    .turtle-section{
        max-width: 700px;
        width: 100%;
    }
    .turtle-img{
        width: 200px;
    }
    .categories-section{
        flex-wrap: wrap;
    }
    .cont{
        margin-top: 50px;
    }
    .arrow-white{
        display: none;
    }
    .four-food-block{
        flex-wrap: wrap;
    }
    .first-of-three{
        margin-top: 50px;
        width: 300px;
    }
    .categories{
        margin-top: 30px;
    }

    /* about us */
    .orange-pic{
        max-width: 500px;
        width: 100%;
    }
    .text-content{
        margin: 100px 192px;
    }

    
/* contact page */
.contact-section{
    display: flex;
    flex-direction: column;
}


}

@media (max-width: 768px){
    .slider{
        max-width: 600px;
        height: 280px;
        margin: 40px 40px;
    }
    .slider-content{
        left: 100px;
    }
    .animal-photo{
        margin-left: 100px;
    }
    .rabbit{
        margin-left: 100px;
    }
    .small-boxes{
        flex-wrap: wrap;
        align-items: center;
    }
    .box{
        margin-bottom: 20px;
    }
    .products{
        display: flex;
        flex-direction: column;
    }
    .yellow-cat{
        margin-left: -70px;
        width: 500px;
    }
    .blue-fish{
        margin-top: 20px;
    }
    .cat-picture{
        display: none;
    }
    .turtle-section{
        display: none;
    }
    .brand-imgs{
        flex-wrap: wrap;
    }
    .brand-imgs img{
        margin-top: 20px;
    }
    .white-block{
        margin-top: 30px;
    }
    .title span{
        display: none;
    }
   
}

@media (max-width: 480px){
    .slider{
        max-width: 400px;
        height: 280px;
        margin: 10px;
    }
    .slider-content{
        left: 10px;
        font-size: 12px;
    }
    .animal-photo{
        margin-left: -20px;
        width: 300px;
    }
    .rabbit{
        margin-left: -120px;
    }
    .slider-lines{
        left: 150px;
    }
    .small-boxes{
        margin: 20px;
        align-items: center;
        justify-content: center;
    }
    .products{
        padding: 0 10px;
        align-items: center;
        justify-content: center;

    }
    .yellow-cat{
        margin-left: -0px;
        width: 400px;
    }
    .text-cat{
        margin-left: 150px;
    }
    .top-products-section{
        padding: 80px 40px;
        align-items: center;
        justify-content: center;
    }
    .three-box{
        padding: 80px 40px;
        align-items: center;
        justify-content: center;
    }
    .turtle-section{
        display: block;
        width: 300px;
        margin: 0 50px;
    }

    .turtle-content{
        padding: 10px;
    }
    .turtle-content h4{
       font-size: 14px;
    }
    .turtle-img{
        margin-left: 150px;
        margin-top: -500px;
    }
    .categories-section{
        display: none;
    }
    .footer-content{
        flex-direction: column;
        align-items: center;
       background-color: none;
       box-shadow: none;
       border-radius: none;
    }
    footer{
        padding: 0px;
    }
    .second-of-three{
        max-width: 330px;
    }
    .rabbit-pic{
        margin-left: -205px;
        
    }
    .footer-content div{
        display: none;
    }

    .latest{
        display: none;
    }

    .responsive-products{
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .responsive-products button{
        margin-bottom: 70px;
    }
    .responsive-products img{
        width: 90px;
       margin: 0 0 40px 40px;
    }

    .header-cont{
        display: block;
        position: relative;
       
    }
    .small-icons-resp{
        position: absolute;
        position:fixed ;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #FFFFFF;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px -10px 30px #597DBC0D;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 30;
    }
    .burg-responsive img{
        width: 39px;
        background-color: #74B42C;
        padding: 8px;
        border-radius: 80px;
    }
    .burg-responsive img:hover{
        background-color: #77aa3c;
        transition: all .5s;
    }

    .brand-imgs img{
        display: none;
    }
    .brand-imgs img.active{
        display: block;
    }
   
        
    .brands-arrow{
        width: 300px;
        margin-bottom: 110px;
    }

    .brands-arrow-sec{
        margin-bottom: 210px;
        margin-left: 59px;
    }
    .resp-arrow{
        display: block;
        width: 40px;
        background-color: rgb(160, 147, 147);
        padding: 10px;
        margin-bottom: 90px;
        margin-top: 30px;
        transform: rotateY(180deg);
        border: none;
        border-radius: 10px;
    
    }
    .orange-dog{
        width: 300px;
    }
    .blue-fish{
        width: 300px;
        height: 250px;
    }
    .green-bird{
        width: 300px;
    }
    .yellow-cat{
        width: 300px;
        height: 260px;
    }
    .third-of-three{
        padding: 10px 10px;
    }
    .pedigri-price{
       display: none;
    }
    /* about us */
    .resp-p{
        display: none;
    }
    .orange-pic{
        max-width: 284px;
        width: 100%;
        margin: 0 0 0 21px;
    }
    
    .text-content{
        margin: 100px 20px;
    }

    .map iframe{
        width: 229px;
        height: 200px;
    }
    .contact{
        display: flex;
        align-items: center;
        margin-bottom: 32px;
    }
    
    .contact-section{
        margin: 100px 21px;
    }

}


@media (max-width: 320px){
    .animal-photo{
        margin-left: 40px;
        width: 300px;
    }
    .rabbit{
        margin-left: 10px;
        margin-top: 20px;
    }
    .slider-content{
        left: 2px;
    }
    .slider-content span{
        font-size: 15px;
        width: 200px;
    }
    .first-of-three{
        display: none;
    }

    .turtle-section{
        width: 200px;
    }
    .turtle-img{
        margin-left: 30px;
        margin-bottom: 40px;
    }
}